<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyStore</display-name>
  <servlet>
    <servlet-name>remove_product</servlet-name>
    <servlet-class>remove_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove_product</servlet-name>
    <url-pattern>/remove_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showproducts</servlet-name>
    <servlet-class>showproducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showproducts</servlet-name>
    <url-pattern>/showproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetch_orders</servlet-name>
    <servlet-class>fetch_orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch_orders</servlet-name>
    <url-pattern>/fetch_orders</url-pattern>
  </servlet-mapping>
</web-app>